html, body {
  font-family: TitilliumWeb;
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, span {
  margin: 0;
  font-size: 100%;
  font-weight: inherit;
}

p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1030px;
}

.wrapper .box-button {
  text-align: center;
}

.wrapper .clearfix {
  clear: both;
}

/* welcome */

.welcome {
  background-color:  #87509c;
  height: 596px;
}

.welcome .wrapper .logo {
  width: 117px;
  height: 37px;
  padding-top: 57px;
  float: left;
}

.welcome .wrapper .menu {
  margin-top: 60px;
  float: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.welcome .wrapper .menu ul {
  width: 416px;
}

.welcome .wrapper .menu li {
  float: left;
  margin: 0 -3px;
  text-transform: uppercase;
  text-align: center;
}

.welcome .wrapper .menu a {
  color: #ffffff;
  display: inline-block;
  padding: 10px 17px;
}

.welcome .wrapper .menu li:hover {
  border-radius: 4px;
  background-color: #643a79;
}

.welcome .wrapper .heading {
  margin: 145px auto 0;
  color: #f7f3eb;
  font-size: 42.16px;
  font-weight: 700;
  text-align: center;
  width: 906px;
  height: 88px;
}

.welcome .wrapper .button {
  border-radius: 4px;
  background-color: #eb7d4b;
  width: 293px;
  height: 70px;
  margin-top: 54px;
  outline: none;
}

/* services  */

.services {
  background-color: #17c2a4;
  height: 747px;
}

.services .heading {
  padding-top: 119px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
}

.services .line {
  margin: 21px auto 23px;
  background-color:  rgba(0, 0, 0, 0.15);
  width: 87px;
  height: 4px;
}

.services .info {
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 570px;
  height: 45px;
}

.services .types {
  text-align: center;
  margin-top: 83px;
}

.services .box {
  width: 220px;
  height: 295px;
  text-align: center;
  display: inline-block;
}

.services .box:nth-of-type(2) {
  margin: 0 22.5px 0 45px;
}

.services .box:nth-of-type(3) {
  margin: 0 45px 0 22.5px;
}

.services .box img:nth-of-type(1) {
  margin-bottom: 62px;
}

.services .box img:nth-of-type(2),
.services .box img:nth-of-type(3) {
  margin-bottom: 60px;
}

.services .box img:nth-of-type(4) {
  margin-bottom: 56px;
}

.services .box h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.services .box p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 27px auto 0;
}

.services .box p:nth-of-type(1) {
  width: 192px;
}

.services .box p:nth-of-type(2) {
  width: 173px;
}

.services .box p:nth-of-type(3) {
  width: 197px;
}

.services .box p:nth-of-type(4) {
  width: 189px;
}

/* team */

.team {
  background-color: #e7f1f8;
  height: 915px;
}

.team .heading {
  padding-top: 119px;
  color: #3c4661;
  font-size: 38px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
  transform: scaleY(1.0321);
}

.team .info {
  color: #3c4661;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  transform: scaleY(1.0321);
}

.team .line {
  margin: 21px auto 24px;
  background-color: rgba(189, 209, 223, 0.75);
  width: 87px;
  height: 6px;
}

.team .teams-group {
  margin-top: 78px;
  height: 490px;
}

.team .teams-group .box {
  width: 200px;
  height: 490px;
  float: left;
}

.team .teams-group .box:nth-of-type(2) {
  margin: 0 38.33px 0 76.66px;
}

.team .teams-group .box:nth-of-type(3) {
  margin: 0 76.66px 0 38.33px;
}

.team .teams-group .photo {
  border-radius: 50%;
  background-color: #878787;
  width: 200px;
  height: 200px;
  margin-bottom: 41px;
}

.team .teams-group .name {
  color: #27283d;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.team .teams-group .position {
  margin-top: 15px;
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.team .teams-group .info {
  margin-top: 26px;
  color: #3c4761;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.team .teams-group .social {
  text-align: center;
  margin-top: 31px;
}

.team .teams-group ul {
  text-align: center;
  display: inline-block;
  height: 32px;
}

.team .teams-group li {
  float: left;
  margin: 0 6px;
}

.team .teams-group .social img {
  border-radius: 50%;
  background-color: #bdd1df;
  width: 32px;
  height: 32px;
}

/* skills */

.skills {
  background-color: #ffffff;
  height: 655px;
}

.skills .heading {
  color: #3c4761;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
  padding-top: 116px;
}

.skills .line {
  background-color: #dfe8ed;
  width: 87px;
  height: 4px;
  margin: 21px auto 23px;
}

.skills .info {
  color: #3c4761;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  width: 568px;
  text-align: center;
  margin: 0 auto;
}

.skills .skills-block {
  margin-top: 78px;
  height: 210px;
}

.skills .skills-block .box {
  width: 257.5px;
  height: 210px;
  float: left;
}

.skills .skills-block .progress {
  margin-left: 48.75px;
  margin-bottom: 31px;
}

.skills .skills-block .progress-box {
  margin-top: 63px;
  margin-left: 50px;
}

.skills .skills-block .number {
  color: #3c4761;
  font-size: 50px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.skills .skills-block .rate {
  color: #3c4761;
  font-size: 32px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}

.skills .skills-block h3 {
  width: 215px;
  margin: 0 auto;
  text-align: center;
  color: #3c4761;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

/* portfolio */

.portfolio {
  background-color: #ffdd99;
  height: 1423px;
}

.portfolio .heading {
  color: #3c4761;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
  padding-top: 116px;
}

.portfolio .line {
  background-color: #e5c37f;
  width: 87px;
  height: 4px;
  margin: 21px auto 23px;
}

.portfolio .info {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  width: 568px;
  text-align: center;
  margin: 0 auto;
}

.porfolio-menu {
  text-align: center;
  margin-top: 42px;
}

.porfolio-menu li {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 12px 27px;
  margin: 0 5px;
}

.portfolio .active {
  background-color: #ffffff;
}

.portfolio a {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
}

.portfolio .works {
  height: 100%;
  margin-bottom: 83px;  
}

.portfolio .box-work {
  float: left;
  margin-top: 63px;
}

.portfolio .box-work:nth-child(even) {
  margin-left: 20px;
}

.portfolio .box-work img {
  width: 505px;
  height: 311px;
}

.portfolio .box-work h4 {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  margin: 27px 0 0;
}

.portfolio .button {
  border-radius: 4px;
  background-color: #17c2a4;
  width: 293px;
  height: 70px;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.5px;
  outline: none;
}

/* testimonials */

.testimonials {
  background-color: #d74680;
  height: 895px;
}

.testimonials .heading {
  padding-top: 119px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
}

.testimonials .line {
  background-color: rgba(0, 0, 0, 0.15);
  width: 87px;
  height: 4px;
  margin: 21px auto 23px;
}

.testimonials .info {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.testimonials .box-review {
  float: left;
  width: 456px;
  height: 167px;
  margin: 71px 0;
}

.testimonials .box-review:nth-child(even) {
  margin-left: 118px;
}

.testimonials .user-photo {
  float: left;
  height: 100%;
  width: 96px;
}

.testimonials .user-photo img {
  border-radius: 50%;
  background-color: #787878;
  width: 96px;
  height: 96px;
}

.testimonials .user-review {
  padding-top: 11px;
  margin-left: 136px;
  height: 100%;
}

.testimonials .user-review p {
  color: #ffffff;
  font-size: 19px;
  font-style: italic;
  line-height: 26px;
}

.testimonials .user-review h4 {
  color:  #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 30px;
}

.testimonials .user-review h5 {
  color:  #ffdd99;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}

/* touch */

.touch {
  background-color: #3c5499;
  height: 819px;
}

.touch .heading {
  padding-top: 119px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 29.907px;
  text-align: center;
}

.touch .line {
  background-color: #273a71;
  width: 87px;
  height: 4px;
  margin: 21px auto 23px;
}

.touch .info {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.touch form {
  margin-top: 76px;
}

.touch .box-input {
  float: left;
  margin-bottom: 27px;
}

.touch .box-input:nth-child(1) {
  margin-left: 85px;
}

.touch .box-input:nth-child(2) {
  margin-left: 32px;
}

.touch .box-input input {
  border-width: 0;
  padding: 0 25px;
  border-radius: 4px;
  background-color: #273a71;
  width: 364px;
  height: 56px;
}

.touch  .box-textarea {
  text-align: center;
}

.touch  .box-textarea textarea {
  padding: 22px 25px;
  border-radius: 4px;
  background-color: #273a71;
  width: 810px;
  height: 156px;
  resize: none;
  border-width: 0;
}

.touch .box-button {
  margin-top: 59px;
}

.touch .button {
  border-radius: 4px;
  background-color:  #30bae7;
  width: 293px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.5px;
  outline: none;
}

/* footer */

.footer {
  background-color: #344b8e;
  height: 112px;
}

.footer .social-menu {
  text-align: center;
  padding-top: 48px;
}

.footer .social-menu li {
  display: inline-block;
  margin: 0 20px;
}

.footer .social-menu a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.907px;
}